<app-master-page></app-master-page>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Staff Master</title>
  </head>
  <body>
    <div class="ml-5 pt-4 mt-5">
      <div class="card">
        <div class="card-body">
          <div class="col-12">
            <div
              class="justify-content-between d-flex align-items-center mt-3 mb-4"
            >
              <h5 class="mb-0 pb-1 text-decoration-underline">Staff List</h5>
              
              <form [formGroup]="formGroup">
                <input
                  type="text"
                  class="form-control w-200px float-end"
                  id="freeTextSearch"
                  name="freeTextSearch"
                  formControlName="freeTextSearch"
                  placeholder="Search..."
                />
              </form>
            </div>
            <div class="row row-cols-xxl-6 row-cols-lg-3 row-cols-1">
              <div class="col" *ngFor="let staff of lstStaffDetails">
                <div class="card card-body">
                  <div class="d-flex mb-2 align-items-center">
                    <div
                      class="flex-shrink-0 d-flex justify-content-center w-100"
                    >
                      <img
                        [src]="staff.image"
                        alt=""
                        class="avatar-sm w-200px h-200px rounded-circle"
                      />
                    </div>
                  </div>
                  <div class="flex-grow-1 ms-2 d-flex justify-content-center">
                    <h5 class="card-title mb-1">
                      {{ staff.firstName }} {{ staff.lastName }}
                    </h5>
                  </div>
                  <!-- <div class="flex-grow-1 ms-2 d-flex justify-content-center">
                    <p class="card-text text-muted">
                      {{ staff.grade }} - {{ staff.section }}
                    </p>
                  </div> -->
                  <div class="mt-2">
                    <a
                      (click)="seeDetails(staff)"
                      class="btn btn-primary btn-sm w-100"
                      >See Details</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <!-- end row -->
          </div>
        </div>
      </div>
      <!-- end col -->
    </div>
  </body>
</html>
