<!DOCTYPE html>
<html lang="en">
  <head> </head>
  <body>
    <div class="app-menu navbar-menu">
      <div id="scrollbar">
        <div class="container-fluid">
          <div id="two-column-menu"></div>
          <ul class="navbar-nav" id="navbar-nav">
            <li class="menu-title"><span data-key="t-menu">Menu</span></li>
            <li class="nav-item">
              <a
                class="nav-link menu-link collapsed"
                href="#divSchoolSetup"
                data-bs-toggle="collapse"
                role="button"
                aria-expanded="false"
                aria-controls="divSchoolSetup"
              >
                <i class="bi bi-gear-fill"></i>
                <span data-key="t-dashboards">School Setup</span>
              </a>
              <div class="collapse menu-dropdown" id="divSchoolSetup">
                <ul class="nav nav-sm flex-column">
                  <li class="nav-item">
                    <a
                      href="academic-master"
                      class="nav-link"
                      data-key="t-analytics"
                    >
                      Academic Master
                    </a>
                  </li>
                  <li class="nav-item">
                    <a
                      href="organizational-master"
                      class="nav-link"
                      data-key="t-analytics"
                    >
                      Organizational Master
                    </a>
                  </li>
                  <li class="nav-item">
                    <a
                      href="section-teacher-mapping"
                      class="nav-link"
                      data-key="t-analytics"
                    >
                      Section Teacher Mapping
                    </a>
                  </li>
                  <li class="nav-item">
                    <a
                      href="section-student-mapping"
                      class="nav-link"
                      data-key="t-analytics"
                    >
                      Section Student Mapping
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a
                class="nav-link menu-link collapsed"
                href="#divStudentMaster"
                data-bs-toggle="collapse"
                role="button"
                aria-expanded="false"
                aria-controls="divStudentMaster"
              >
                <i class="bi bi-person"></i>
                <span data-key="t-dashboards">Student Master</span>
              </a>
              <div class="collapse menu-dropdown" id="divStudentMaster">
                <ul class="nav nav-sm flex-column">
                  <li class="nav-item">
                    <a
                      [routerLink]="['/student-registration-form']"
                      [queryParams]="{ from: 'registration' }"
                      class="nav-link"
                      data-key="t-analytics"
                    >
                      Student Registration
                    </a>
                  </li>
                  <li class="nav-item">
                    <a
                      href="student-list"
                      class="nav-link"
                      data-key="t-analytics"
                    >
                      Student list
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a
                class="nav-link menu-link collapsed"
                href="#divStaffMaster"
                data-bs-toggle="collapse"
                role="button"
                aria-expanded="false"
                aria-controls="divStaffMaster"
              >
                <i class="bi bi-people"></i>
                <span data-key="t-dashboards">Staff Master</span>
              </a>
              <div class="collapse menu-dropdown" id="divStaffMaster">
                <ul class="nav nav-sm flex-column">
                  <li class="nav-item">
                    <a
                      href="staff-list"
                      class="nav-link"
                      data-key="t-analytics"
                    >
                      Staff list
                    </a>
                  </li>
                  <li class="nav-item">
                    <a
                      routerLink="/observation" class="nav-link"
                      data-key="t-analytics"
                    >
                    Observation Master
                    </a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
        <!-- Sidebar -->
      </div>

      <div class="sidebar-background"></div>
    </div>

    <div class="vertical-overlay"></div>
    <header id="page-topbar" class="bg_fcf5dc">
      <div class="layout-width">
        <div class="navbar-header">
          <div class="d-flex">
            <!-- LOGO -->
            <div class="navbar-brand-box horizontal-logo">
              <a href="index.html" class="logo logo-dark">
                <span class="logo-sm">
                  <img src="assets/images/logo-sm.png" alt="" height="22" />
                </span>
                <span class="logo-lg">
                  <img src="assets/images/logo-dark.png" alt="" height="22" />
                </span>
              </a>

              <a href="index.html" class="logo logo-light">
                <span class="logo-sm">
                  <img src="assets/images/logo-sm.png" alt="" height="22" />
                </span>
                <span class="logo-lg">
                  <img src="assets/images/logo-light.png" alt="" height="22" />
                </span>
              </a>
            </div>

            <button
              type="button"
              class="btn btn-sm px-3 fs-16 header-item vertical-menu-btn topnav-hamburger shadow-none"
              id="topnav-hamburger-icon"
            >
              <span class="hamburger-icon">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </button>

            <form class="app-search d-none d-md-inline-flex">
              <div class="position-relative d-none">
                <input
                  type="text"
                  class="form-control border-0"
                  placeholder="Search for anything..."
                  autocomplete="off"
                  id="search-options"
                  value=""
                />
                <span class="ti ti-search search-widget-icon"></span>
                <span
                  class="ti ti-x search-widget-icon search-widget-icon-close d-none"
                  id="search-close-options"
                ></span>
              </div>
              <div class="dropdown-menu dropdown-menu-lg" id="search-dropdown">
                <div data-simplebar style="max-height: 320px">
                  <!-- item-->
                  <div class="dropdown-header">
                    <h6
                      class="text-overflow fs-sm text-muted mb-0 text-uppercase"
                    >
                      Recent Searches
                    </h6>
                  </div>

                  <div class="dropdown-item bg-transparent text-wrap">
                    <a
                      href="index.html"
                      class="btn btn-subtle-secondary btn-sm btn-rounded"
                      >how to setup <i class="ti ti-search ms-1"></i
                    ></a>
                    <a
                      href="index.html"
                      class="btn btn-subtle-secondary btn-sm btn-rounded"
                      >buttons <i class="ti ti-search ms-1"></i
                    ></a>
                  </div>
                  <!-- item-->
                  <div class="dropdown-header mt-2">
                    <h6
                      class="text-overflow fs-sm text-muted mb-1 text-uppercase"
                    >
                      Pages
                    </h6>
                  </div>

                  <!-- item-->
                  <a
                    href="javascript:void(0);"
                    class="dropdown-item notify-item"
                  >
                    <i
                      class="ri-bubble-chart-line align-middle fs-18 text-muted me-2"
                    ></i>
                    <span>Analytics Dashboard</span>
                  </a>

                  <!-- item-->
                  <a
                    href="javascript:void(0);"
                    class="dropdown-item notify-item"
                  >
                    <i
                      class="ri-lifebuoy-line align-middle fs-18 text-muted me-2"
                    ></i>
                    <span>Help Center</span>
                  </a>

                  <!-- item-->
                  <a
                    href="javascript:void(0);"
                    class="dropdown-item notify-item"
                  >
                    <i
                      class="ri-user-settings-line align-middle fs-18 text-muted me-2"
                    ></i>
                    <span>My account settings</span>
                  </a>

                  <!-- item-->
                  <div class="dropdown-header mt-2">
                    <h6
                      class="text-overflow fs-sm text-muted mb-2 text-uppercase"
                    >
                      Members
                    </h6>
                  </div>

                  <div class="notification-list">
                    <!-- item -->
                    <a
                      href="javascript:void(0);"
                      class="dropdown-item notify-item py-2"
                    >
                      <div class="d-flex">
                        <img
                          src="assets/images/users/avatar-2.jpg"
                          class="me-3 rounded-circle avatar-xs flex-shrink-0"
                          alt="user-pic"
                        />
                        <div class="flex-grow-1">
                          <h6 class="fs-md m-0">Angela Bernier</h6>
                          <span class="fs-sm mb-0 text-muted">Manager</span>
                        </div>
                      </div>
                    </a>
                    <!-- item -->
                    <a
                      href="javascript:void(0);"
                      class="dropdown-item notify-item py-2"
                    >
                      <div class="d-flex">
                        <img
                          src="assets/images/users/avatar-3.jpg"
                          class="me-3 rounded-circle avatar-xs flex-shrink-0"
                          alt="user-pic"
                        />
                        <div class="flex-grow-1">
                          <h6 class="fs-md m-0">David Grasso</h6>
                          <span class="fs-sm mb-0 text-muted"
                            >Web Designer</span
                          >
                        </div>
                      </div>
                    </a>
                    <!-- item -->
                    <a
                      href="javascript:void(0);"
                      class="dropdown-item notify-item py-2"
                    >
                      <div class="d-flex">
                        <img
                          src="assets/images/users/avatar-5.jpg"
                          class="me-3 rounded-circle avatar-xs"
                          alt="user-pic"
                        />
                        <div class="flex-grow-1">
                          <h6 class="fs-md m-0">Mike Bunch</h6>
                          <span class="fs-sm mb-0 text-muted"
                            >React Developer</span
                          >
                        </div>
                      </div>
                    </a>
                  </div>
                </div>

                <div class="text-center pt-3 pb-1">
                  <a href="#!" class="btn btn-primary btn-sm"
                    >View All Results <i class="ri-arrow-right-line ms-1"></i
                  ></a>
                </div>
              </div>
            </form>
          </div>

          <div class="d-flex align-items-center">
            <div
              class="dropdown ms-sm-3 topbar-head-dropdown dropdown-hover-end header-item topbar-user"
            >
              <button
                type="button"
                class="btn shadow-none btn-icon"
                id="page-header-user-dropdown"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <span class="d-flex align-items-center">
                  <img
                    class="rounded-circle header-profile-user"
                    src="assets/images/users/avatar-1.jpg"
                    alt="Header Avatar"
                  />
                </span>
              </button>
              <div class="dropdown-menu dropdown-menu-end">
                <!-- item-->
                <h6 class="dropdown-header">Welcome Alexandra!</h6>
                <a class="dropdown-item fs-sm" href="pages-profile.html"
                  ><i
                    class="bi bi-person-circle text-muted align-middle me-1"
                  ></i>
                  <span class="align-middle">Profile</span></a
                >
                <a class="dropdown-item fs-sm" href="apps-calendar.html"
                  ><i class="bi bi-cart4 text-muted align-middle me-1"></i>
                  <span class="align-middle">Order Track</span></a
                >
                <a class="dropdown-item fs-sm" href="apps-chat.html"
                  ><i class="bi bi-box-seam text-muted align-middle me-1"></i>
                  <span class="align-middle">Chat</span></a
                >
                <a class="dropdown-item fs-sm" href="apps-to-do.html"
                  ><span
                    class="badge bg-success-subtle text-success float-end ms-2"
                    >New</span
                  ><i class="bi bi-cassette text-muted align-middle me-1"></i>
                  <span class="align-middle">To Do</span></a
                >
                <div class="dropdown-divider"></div>
                <a
                  class="dropdown-item fs-sm"
                  href="pages-profile-settings.html"
                  ><i class="bi bi-gear text-muted align-middle me-1"></i>
                  <span class="align-middle">Settings</span></a
                >
                <a class="dropdown-item fs-sm" href="login"
                  ><i
                    class="bi bi-box-arrow-right text-muted align-middle me-1"
                  ></i>
                  <span class="align-middle" data-key="t-logout"
                    >Logout</span
                  ></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="wrapper">
      <div class="image-container">
        <!-- <img src="assets/images/all/school-erp-home.png" alt="School ERP Home"> -->
      </div>
    </div>
  </body>
</html>
