@import "../node_modules/ngx-toastr/toastr.css";
.ml-2 {
    margin-left: 2%;
}

.ml-3 {
    margin-left: 3%;
}

.ml-5 {
    margin-left: 5%;
}
.reqcss{
    color: red !important;
    padding: 3px !important;
}
.pr-10px {
    padding-right: 10px;
}

.mt-10 {
    margin-top: 10%;
}

.shadow-box {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.highlight-row {
    background-color: lightblue;
}

.border-left-lightgray {
    border-left: 1px solid lightgray !important;
}

.border-right-lightgray {
    border-right: 1px solid lightgray !important;
}

.bg-cyan-cornflower-blue {
    background-color: #1e81b0 !important;
}

select[disabled] {
    background-color: #f2f2f2 !important;
    ;
}

.w-40 {
    width: 40% !important;
}

.text-white{
    color: white !important;
}

.error-message {
    color: #b80000 !important;
    font-size: smaller !important;
    margin-top: 2px !important;
  }
